<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/videos</property>
    <property name="connection.username">root</property>
    <property name="connection.password">fawzeyeni</property>
    <!-- Pool de connection (interne) Nombre de connexion que Hibernate va ouvrir au démarage de l'appli et va laisser ouverte sous forme de cache mémoire-->
    <property name="connection.pool_size">5</property>
    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <property name="current_session_context_class">thread</property>
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <!-- Supprimer et re-créer le schéma de base de données au démarrage ddl = Data Definition Langage : Create, Delete..-->
    <property name="hbm2ddl.auto">validate</property>
    <!-- Montrer toutes les réquêtes générées -->
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <!-- Mapping des entités-->
    <mapping resource="User.hbm.xml"/>
    <mapping resource="Film.hbm.xml"/>
    <mapping resource="Acteur.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
